.aside {
    background-color: var(--color-light-brown);
    margin-right: 30px;
    padding: 25px;
    height: 500px;
}

.aside-title {
    font-weight: 500;
    font-size: 20px;
    user-select: none;
    position: relative;
    padding-bottom: 10px;
    margin: 10px 0;
}

.aside-title::after {
    content: " ";
    background-color: var(--color-dark-brown);
    height: 2px;
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.aside-link {
    display: flex;
    flex-direction: column;
}

.aside-link a {
    text-decoration: none;
    margin: 5px 0;
    color: var(--color-medium-brown);
    font-size: 16px;
    font-weight: 500;
    transition: all 0.15s ease;
}

.aside-link a:hover {
    color: var(--color-dark-brown);
}

.aside-link a.active {
    color: var(--color-dark-brown);
    font-weight: bold;
}

.aside-link a.active::after {
    content: "<";
    margin-left: 5px;
    color: var(--color-dark-brown);
    font-weight: bold;
}
