.section-help {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--color-off-white);
    text-align: justify;
}

.help-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.section-help .col {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    box-sizing: border-box;
}

.section-help h1 {
    color: var(--color-dark-brown);
}

.section-help h3 {
    color: var(--color-medium-brown);
}

.section-help svg {
    color: var(--color-dark-brown);
    margin-right: 5px;
}

.contact-form form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.contact-form input {
    width: 41%;
    padding: 8px 20px;
    border: 1px solid var(--color-light-brown);
    outline: none;
    transition: all 0.3s ease;
}

.contact-form textarea {
    width: 100%;
    padding: 8px 20px;
    border: 1px solid var(--color-light-brown);
    outline: none;
    transition: all 0.3s ease;
}

.contact-form input:focus,
textarea:focus {
    border: 1px solid var(--color-medium-brown);
}

.contact-form button {
    border: 1px solid var(--color-medium-brown);
    color: var(--color-medium-brown);
    background-color: #fff;
    padding: 10px 15px;
    transition: all 0.4s ease;
}

.contact-form button:hover {
    color: #fff;
    background-color: var(--color-medium-brown);
}

.section-help .socials-media {
    display: flex;
    flex-direction: row;
}

.section-help .socials-media a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-medium-brown);
    border-radius: 5px;
    margin-right: 10px;
    background: var(--color-off-white);
    transition: all 0.3s ease-out;
}

.section-help .socials-media a:hover {
    transform: scale(1);
    background-color: var(--color-medium-brown);
}

.section-help .socials-media a:hover svg {
    color: var(--color-pure-white);
}

.section-help .socials-media a svg {
    margin: 0;
    width: 20px;
    height: 20px;
    transition: all 0.3s ease-out;
}
