/* Search Bar */
.search-bar {
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 600px;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    position: absolute;
    bottom: -30px;
    z-index: 1000;
}

.search-bar.small {
    width: 400px !important;
    position: relative !important;
    bottom: 0;
}

.search-bar.small input {
    padding: 8px 15px;
}

.search-bar.small button {
    padding: 8px 15px;
}

.search-bar input {
    font-size: 16px;
    flex: 1;
    padding: 20px 30px;
    border: 1px solid var(--color-light-brown);
    background-color: var(--color-pure-white);
    transition: all 0.3s ease-out;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
}

.search-bar input:hover {
    border: 1px solid var(--color-medium-brown);
}

.search-bar input:focus {
    border: 1px solid var(--color-medium-brown);
}

.search-bar input:hover {
    background-color: var(--color-pure-white);
}

.search-bar button {
    font-size: 16px;
    padding: 20px 30px;
    background-color: var(--color-medium-brown);
    border: 1px solid var(--color-medium-brown);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.search-bar button:hover {
    background-color: #7b5e4e;
}
