.breadcrumb {
    display: flex;
    flex-direction: row;
}

.breadcrumb * {
    margin: 0 5px 0 0;
    text-decoration: none;
}

.tools {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px 0;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    display: flex;
    width: 22.5%;
    height: 250px;
    margin-bottom: 25px;
    background-color: var(--color-light-brown);
    box-shadow: var(--box-shadow);
}
