.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Khoảng cách giữa các phần tử */
}

.card {
    display: flex;
    flex-direction: row;
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: var(--color-light-brown);
    text-decoration: none;
    color: var(--color-dark-brown);
    font-size: 16px;
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.08),
        -4px -4px 12px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
}

.card > *:last-child {
    margin-right: 0;
}

.card:hover {
    transform: translate(0, -10px);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1),
        -4px -4px 12px rgba(0, 0, 0, 0.08);
}

.card img {
    height: 120px;
    object-fit: fill;
}

.card-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.card-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
    flex: 1;
    text-align: justify;
    display: flex;
    align-items: center;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-category {
    font-style: italic;
    border: 1px solid var(--color-medium-brown);
    padding: 2px 5px;
}
