header {
    background: var(--color-light-brown);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

header .container {
    display: flex;
    align-items: center;
}

/* HEADER LOGO */
.header-logo {
    display: flex;
    align-items: center;
    height: 100px;
}

.header-logo img {
    height: 60px;
}

/* HEADER NAV */
.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.header-nav a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 0 10px;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    transition: transform 0.15s ease;
    color: var(--color-dark-brown);
    font-weight: 500;
    font-size: 18px;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 20px;
}

.header-nav img {
    margin-right: 5px;
}

.header-nav a:hover {
    transform: translate(0, -5px);
}

.header-nav a.active {
    border: 1px solid var(--color-dark-brown);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

/* HEADER CONTROLS */
.header-controls {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}

.header-controls .account-control a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease-out;
    padding: 0;
}
.header-controls .account-control a:hover {
    box-shadow: var(--box-shadow-2);
}

.header-controls .account-control a img {
    width: 100%;
    height: 100%;
}
