.dropdown {
    width: 80px;
    text-align: center;
}
.dropdown,
.btn-sort-order {
    padding: 8px 15px;
    border: 1px solid var(--color-medium-brown);
    border-radius: 5px;
    background-color: var(--color-medium-brown);
    color: var(--color-pure-white);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease-out;
    user-select: none;
    position: relative;
}

.dropdown:hover,
.btn-sort-order:hover {
    background-color: var(--color-medium-brown-hover);
}

.btn-sort-order svg {
    height: 21px;
}

.dropdown-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    background: var(--color-pure-white);
    z-index: 1000;
    width: calc(100% - 5px);
    color: var(--color-medium-brown);
    border: 1px solid var(--color-medium-brown);
    border-radius: 5px;
    padding: 10px 0 10px 5px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.dropdown-options.active {
    opacity: 1;
}
.dropdown-options > div {
    transition: all 0.3s ease-in-out;
}
.dropdown-options > div:hover {
    letter-spacing: 0.5px;
}

.dropdown-options > div.active {
    font-weight: bold;
}
