:root {
    --gradient-blue: linear-gradient(to right, #1765d1, #85a9e1);

    --color-dark-brown: #4e342e; /* Nâu đậm, dùng cho header, footer */
    --color-medium-brown: #8d6e63; /* Nâu nhạt, cho thanh điều hướng hoặc nút */
    --color-light-brown: #d7ccc8; /* Nâu be, dùng cho thẻ hoặc card */
    --color-ivory-white: #f0e6d2; /* Trắng tinh, làm nền phụ hoặc chi tiết */
    --color-off-white: #fafafa; /* Trắng ngà, làm nền chính */
    --color-pure-white: #ffffff; /* Trắng tinh, làm nền phụ hoặc chi tiết */

    --text-color-1: blue;
    --text-color-2: #fff;

    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
